body{
    background: rgb(32,32,130);
    background: linear-gradient(90deg, rgba(32,32,130,0.9724264705882353) 0%, rgba(0,212,255,1) 100%);
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    color: #000;
    text-align: center;
}

.loginForm{
    margin-top: 6%;
    width: 600px;
    /* align to center horizontally */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    /* box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-bottom: 10%;
}

.loginForm h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    color: #000;
    text-align: center;
}

.loginForm label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: rgb(34, 33, 33);
    text-align: left;
}

.loginForm input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgb(34, 33, 33);
    text-align: left;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width:70%;
    box-shadow: inset 0px 0px 10px rgba(48, 47, 47, 0.2);
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: rgb(240, 238, 238);
}

.loginForm button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(32,32,130);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.loginForm a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}

.loginForm input:focus{
    outline: none;
}

.loginForm .error{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: rgb(238, 56, 56);
    text-align: left;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}